.ftTop {
    font-size: 14px;
    background: rgb(17, 17, 17);
    color: #f8f9fa;
    /* padding: 10px; */
}

.flink a {
    color: #f8f9fa;
    text-decoration: none;
    cursor: pointer;
}

.flink a:hover {
    color: #cbd3da;
    text-decoration: underline;
}

.fauthor {
    padding-bottom: 18px;
}

.fauthor a {
    text-decoration: none;
}